global
  log /dev/stdout format raw local0 debug

defaults
  log global
  mode http
  option httplog
  option logasap
  timeout client 5s
  timeout connect 5s
  timeout server 5s

frontend public
  log global
  bind *:8080
  mode http
  tcp-request content accept if HTTP
  tcp-request inspect-delay 5s
  default_backend default

backend default
  log global
  mode http
  server s1 :9090
# 0 TestHeaderValues/request/single_character
http-request set-header Testrequesthdr_0 'a'


# 1 TestHeaderValues/request/multiple_characters
http-request set-header Testrequesthdr_1 'abc'


# 2 TestHeaderValues/request/multiple_words_without_escaped_space
http-request set-header Testrequesthdr_2 'abc def'


# 3 TestHeaderValues/request/multiple_words_with_escaped_space
http-request set-header Testrequesthdr_3 'abc\ def'


# 4 TestHeaderValues/request/multiple_words_each_word_quoted
http-request set-header Testrequesthdr_4 '"abc"\ "def"'


# 5 TestHeaderValues/request/multiple_words_each_word_quoted_and_with_an_embedded_space
http-request set-header Testrequesthdr_5 '"abc "\ "def "'


# 6 TestHeaderValues/request/single_%_character
# http-request set-header Testrequesthdr_6 '%'


# 7 TestHeaderValues/request/escaped_%_character
http-request set-header Testrequesthdr_7 '%%'


# 8 TestHeaderValues/request/escaped_%_and_only_a_%_character
# http-request set-header Testrequesthdr_8 '%%%'


# 9 TestHeaderValues/request/two_literal_%_characters
http-request set-header Testrequesthdr_9 '%%%%'


# 10 TestHeaderValues/request/zero_percent
http-request set-header Testrequesthdr_10 '%%%%%%0'


# 11 TestHeaderValues/request/escaped_expression
http-request set-header Testrequesthdr_11 '%%[req.hdr(Host)]\ %[req.hdr(Host)]'


# 12 TestHeaderValues/request/simple_empty_expression
# http-request set-header Testrequesthdr_12 '%[]'


# 13 TestHeaderValues/request/nested_empty_expressions
# http-request set-header Testrequesthdr_13 '%[%[]]'


# 14 TestHeaderValues/request/empty_quoted_value
# http-request set-header Testrequesthdr_14 '%{+Q}'


# 15 TestHeaderValues/request/quoted_value
# http-request set-header Testrequesthdr_15 '%{+Q}foo'


# 16 TestHeaderValues/request/hdr_with_empty_field
# http-request set-header Testrequesthdr_16 '%[req.hdr()]'


# 17 TestHeaderValues/request/hdr_with_percent_field
# http-request set-header Testrequesthdr_17 '%[req.hdr(%)]'


# 18 TestHeaderValues/request/hdr_with_known_field
http-request set-header Testrequesthdr_18 '%[req.hdr(Host)]'


# 19 TestHeaderValues/request/hdr_with_syntax_error
# http-request set-header Testrequesthdr_19 '%[req.hdr(Host]'


# 20 TestHeaderValues/request/incomplete_expression
# http-request set-header Testrequesthdr_20 '%[req'


# 21 TestHeaderValues/request/quoted_field
# http-request set-header Testrequesthdr_21 '%[req.hdr(%{+Q}Host)]'


# 22 TestHeaderValues/request/value_with_conditional_expression
http-request set-header Testrequesthdr_22 '%[req.hdr(Host)] if foo'


# 23 TestHeaderValues/request/value_with_what_looks_like_a_conditional_expression
http-request set-header Testrequesthdr_23 '%[req.hdr(Host)]\ if\ foo'


# 24 TestHeaderValues/request/unsuported_fetcher
# http-request set-header Testrequesthdr_24 '%[date(3600),http_date]'


# 0 TestHeaderValues/response/single_character
http-response set-header Testresponsehdr_0 'a'


# 1 TestHeaderValues/response/multiple_characters
http-response set-header Testresponsehdr_1 'abc'


# 2 TestHeaderValues/response/multiple_words_without_escaped_space
http-response set-header Testresponsehdr_2 'abc def'


# 3 TestHeaderValues/response/multiple_words_with_escaped_space
http-response set-header Testresponsehdr_3 'abc\ def'


# 4 TestHeaderValues/response/multiple_words_each_word_quoted
http-response set-header Testresponsehdr_4 '"abc"\ "def"'


# 5 TestHeaderValues/response/multiple_words_each_word_quoted_and_with_an_embedded_space
http-response set-header Testresponsehdr_5 '"abc "\ "def "'


# 6 TestHeaderValues/response/single_%_character
# http-response set-header Testresponsehdr_6 '%'


# 7 TestHeaderValues/response/escaped_%_character
http-response set-header Testresponsehdr_7 '%%'


# 8 TestHeaderValues/response/escaped_%_and_only_a_%_character
# http-response set-header Testresponsehdr_8 '%%%'


# 9 TestHeaderValues/response/two_literal_%_characters
http-response set-header Testresponsehdr_9 '%%%%'


# 10 TestHeaderValues/response/zero_percent
http-response set-header Testresponsehdr_10 '%%%%%%0'


# 11 TestHeaderValues/response/escaped_expression
http-response set-header Testresponsehdr_11 '%%[res.hdr(Host)]\ %[res.hdr(Host)]'


# 12 TestHeaderValues/response/simple_empty_expression
# http-response set-header Testresponsehdr_12 '%[]'


# 13 TestHeaderValues/response/nested_empty_expressions
# http-response set-header Testresponsehdr_13 '%[%[]]'


# 14 TestHeaderValues/response/empty_quoted_value
# http-response set-header Testresponsehdr_14 '%{+Q}'


# 15 TestHeaderValues/response/quoted_value
# http-response set-header Testresponsehdr_15 '%{+Q}foo'


# 16 TestHeaderValues/response/hdr_with_empty_field
# http-response set-header Testresponsehdr_16 '%[res.hdr()]'


# 17 TestHeaderValues/response/hdr_with_percent_field
# http-response set-header Testresponsehdr_17 '%[res.hdr(%)]'


# 18 TestHeaderValues/response/hdr_with_known_field
http-response set-header Testresponsehdr_18 '%[res.hdr(Host)]'


# 19 TestHeaderValues/response/hdr_with_syntax_error
# http-response set-header Testresponsehdr_19 '%[res.hdr(Host]'


# 20 TestHeaderValues/response/incomplete_expression
# http-response set-header Testresponsehdr_20 '%[req'


# 21 TestHeaderValues/response/quoted_field
# http-response set-header Testresponsehdr_21 '%[res.hdr(%{+Q}Host)]'


# 22 TestHeaderValues/response/value_with_conditional_expression
http-response set-header Testresponsehdr_22 '%[res.hdr(Host)] if foo'


# 23 TestHeaderValues/response/value_with_what_looks_like_a_conditional_expression
http-response set-header Testresponsehdr_23 '%[res.hdr(Host)]\ if\ foo'


# 24 TestHeaderValues/response/unsuported_fetcher
# http-response set-header Testresponsehdr_24 '%[date(3600),http_date]'


