benchmark-config:
/keda/nodes-ready-app/nodes-ready-app
/destca/server/html-server
/destca/payroll-certs/
/destca/catpictures-certs/
/destca/certs/
/destca/ca.crt
/destca/server/server
/destca/server/index.html
/OCPBUGS-13966/server/server
/OCPBUGS-12858/server/server
/OCPBUGS-16707/server/server
certs
ca.cer
ca.crt
cert.pem
fullchain.pem
key.pem
tls.crt
tls.key
server
/OCPBUGS-32044/.direnv/
