{{- range .Backends -}}
  {{ if eq .TerminationType "edge" }}
backend be_edge_http:{{.Name}}
  mode http
  option redispatch
  option forwardfor
  balance random
  timeout check 5000ms
  http-request add-header X-Forwarded-Host %[req.hdr(host)]
  http-request add-header X-Forwarded-Port %[dst_port]
  http-request add-header X-Forwarded-Proto http if !{ ssl_fc }
  http-request add-header X-Forwarded-Proto https if { ssl_fc }
  http-request add-header X-Forwarded-Proto-Version h2 if { ssl_fc_alpn -i h2 }
  http-request add-header Forwarded for=%[src];host=%[req.hdr(host)];proto=%[req.hdr(X-Forwarded-Proto)]
  cookie {{.BackendCookie}} insert indirect nocache httponly secure attr SameSite=None
  server pod:{{.Name}}:{{.HostAddr}}:{{.Port}} {{.HostAddr}}:{{.Port}} cookie {{.ServerCookie}} weight 1
  {{ else if eq .TerminationType "http" }}
backend be_http:{{.Name}}
  mode http
  option redispatch
  option forwardfor
  balance random
  timeout check 5000ms
  http-request add-header X-Forwarded-Host %[req.hdr(host)]
  http-request add-header X-Forwarded-Port %[dst_port]
  http-request add-header X-Forwarded-Proto http if !{ ssl_fc }
  http-request add-header X-Forwarded-Proto https if { ssl_fc }
  http-request add-header X-Forwarded-Proto-Version h2 if { ssl_fc_alpn -i h2 }
  http-request add-header Forwarded for=%[src];host=%[req.hdr(host)];proto=%[req.hdr(X-Forwarded-Proto)]
  cookie {{.BackendCookie}} insert indirect nocache httponly secure attr SameSite=None
  server pod:{{.Name}}:{{.HostAddr}}:{{.Port}} {{.HostAddr}}:{{.Port}} cookie {{.ServerCookie}} weight 1
  {{ else if eq .TerminationType "reencrypt" }}
backend be_secure:{{.Name}}
  mode http
  option redispatch
  option forwardfor
  balance random
  timeout check 5000ms
  http-request add-header X-Forwarded-Host %[req.hdr(host)]
  http-request add-header X-Forwarded-Port %[dst_port]
  http-request add-header X-Forwarded-Proto http if !{ ssl_fc }
  http-request add-header X-Forwarded-Proto https if { ssl_fc }
  http-request add-header X-Forwarded-Proto-Version h2 if { ssl_fc_alpn -i h2 }
  http-request add-header Forwarded for=%[src];host=%[req.hdr(host)];proto=%[req.hdr(X-Forwarded-Proto)]
  cookie {{.BackendCookie}} insert indirect nocache httponly secure attr SameSite=None
  server pod:{{.Name}}:{{.HostAddr}}:{{.Port}} {{.HostAddr}}:{{.Port}} cookie {{.ServerCookie}} weight 1 ssl verify required ca-file {{.ConfigDir}}/router/cacerts/be_secure:{{.Name}}.pem
  {{ else if eq .TerminationType "passthrough" }}
backend be_tcp:{{.Name}}
  balance source
  hash-type consistent
  timeout check 5000ms
  server pod:{{.Name}}:{{.HostAddr}}:{{.Port}} {{.HostAddr}}:{{.Port}} weight 1
  {{ end }}
{{- end }}
