{{range $element := .DataFields}} {{$element}}

backend be_http:{{.Name}}
  mode http
  option redispatch
  option forwardfor
  balance random

  timeout check 5000ms
  http-request add-header X-Forwarded-Host %[req.hdr(host)]
  http-request add-header X-Forwarded-Port %[dst_port]
  http-request add-header X-Forwarded-Proto http if !{ ssl_fc }
  http-request add-header X-Forwarded-Proto https if { ssl_fc }
  http-request add-header X-Forwarded-Proto-Version h2 if { ssl_fc_alpn -i h2 }
  http-request add-header Forwarded for=%[src];host=%[req.hdr(host)];proto=%[req.hdr(X-Forwarded-Proto)]
  cookie {{.Cookie}} insert indirect nocache httponly secure attr SameSite=None
  server pod:{{.Name}:{{.IPAddr}:{{.Port}} {{.IPAddr}}:{{.Port}} cookie {{.ServerCookie} weight 1

{{ end }}
